body {
    background-color: #222222;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-family: sans-serif;
}

canvas {
    margin: auto;
    position: relative;
    top: 0; left: 0; bottom: 0; right: 0;
}
